@font-face {
  font-family: 'Dancing Script';
  src: url('DancingScript.ttf');
}

#contenido {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}


body{
  font-family: "Dancing Script";
  background-color: #02010a;
}


.cabecera {
  background-color: #5b7989;
  width: 100%;
  color: white;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  }



.liga {
  font-size: 1.5em;
  text-shadow: none;
  color: white;
}

#titulo {
  margin-left: 25px;
  width: 45%;
}
#navegacion{
  margin-top: 25px;
  text-align: right;
  width: 50%;

}

.central img {
  box-shadow: 2px 2px #02010a;
}

.central {
  text-align: center;
  background-color: #82c3a6;
  width: 100%;
}

.secundaria{
  background-color: #d5c75f;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}


.secundaria img {
  box-shadow: 2px 2px #02010a;
}

.secundaria p{
  text-align: center;
}

#izquierda:hover{
    box-shadow: 2px 2px #82c3a6;
	  transform: rotateZ(10deg);
    transition-duration: 2.2s;

}


#derecha:hover{
    box-shadow: 2px 2px #82c3a6;
    transition-duration: 2.2s;
	  transform: translate(20px,-5px);

}

.pie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  width: 100%;
  margin-top: -20px;
}


  .apartados {
    margin-left: 25px;
    width: 25%;
  }

  .apartados a{
    color: black;
    text-decoration: none;
  }


@media (max-width: 899px){
      #contenido {
        width: 100%;
      }

      .cabecera {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        }

      #titulo {
        text-align: center;
        width: 100%;
      }
      #navegacion{
        text-align: center;
        width: 100%;
      }

      .central img {
        width: 100%;
      }



      .secundaria{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        height: auto;
      }
      .secundaria img {
        width: 100%;
      }






      .pie {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        }
        .pie .apartados {
          text-align: center;
          width: 100%;
        }




  }
