body{
  font-family: "antique olive";
  margin: 10px 70px 10px 70px;


}
header{

  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-wrap: wrap;
}

header h1 {
  width: 50%
}

header p {
  text-align: center;
  width: 100%;
  text-shadow: none;
}

#navegacion {
  font-size: 25px;
  text-align: right;
  margin: auto;
  width: 50%;
}

.liga {
  color: white;
  text-shadow: 2px 2px #02010a;
  text-decoration: none;

}

#contenido {
  display: flex;
  flex-direction: column;

}

#central {
  background-color: #82c3a6;
  display: flex;
  flex-direction: row;
}

#central img {
  padding: 10px;
  margin: auto;
}
#secundaria {
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
  border: 1px;

}

#secundaria div{
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 50%;
}



footer{
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
}

#pie {
  display: flex;
  flex-direction: row;
  padding: 0 40px 0 40px;
}

.apartados {
  width: 25%;
}

.apartados a{
  color: black;
  text-decoration: none;
}
>>>>>>> 588217c9cc321edcd8a1e786568f049e77177970
